numpy
scipy
tensorflow
keras
pillow
matplotlib
grpcio
absl-py
py-cpuinfo
psutil
portpicker
six
mock
requests
gast
h5py
astor
termcolor
protobuf
keras-applications
keras-preprocessing
wrapt
google-pasta
cython
pycocotools
tqdm
tensorflow-estimator
